.team {
    text-align: center;
    background: var(--cloud);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 0px;
    margin-bottom: 96px;

    &>h2 {
        margin-bottom: 72px;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 111%;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
}

.team-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 72px;
    padding: 0;

    @media screen and (min-width:768px) {
        & {
            display: flex;
            justify-content: center;
            gap: 64px 24px;
            flex-wrap: wrap;
            flex-direction: row;
        }

    }

}

.team-list {
    display: flex;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>p {
        font-family: $font-family;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: $slate;

    }

    &>h3 {
        margin-bottom: 8px;
        font-family: $font-family;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: $navy-blue;
    }



    &>img {
        margin-bottom: 32px;
    }
}

.team-img {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: $white;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    text-decoration: none;
}

.social-block {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    padding-bottom: 32px;
}

.social-link {
    width: 40px;
    height: 40px;
}

.social-href {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: $iris;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    :focus {
        background-color: $ocean;
    }

    &>svg {
        fill: $white;
        width: 16px;
        height: 16px;
    }

}