$navy-blue: #2E2F42;
$slate: #434455;
$ocean: #404BBF;
$iris: #4D5AE5;
$white: #ffff;
$cloud: #F4F4FD;
$cornflower: #E7E9FC;
$green: #31D0AA;
$dairy: #fcfcfc;

$font-family: 'Roboto',
    sans-serif;
$second-family: ' Raleway',
    sans-serif;